<br>
<h1>Teams</h1>

<table class="table">
  <th>Team</th>
  <th>Student</th>
  <th>Student</th>
  <th>Student</th>
  <th>Student</th>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <% team.students.each do |student| %>
        <td><%= student.name %></td>
      <% end %>
    </tr>
  <% end %>
</table>
