<footer>
  <div class="container">
    <p>Made with &#x2665 in California</p>
    <p>Gerogia Tech CS6460 Class Project</p>
    <a href="https://github.com/addisonhuddy/matchmaker" target="_blank">Github</a>
  </div>
</footer>
